/* form */
body{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #205295;
  
}
h1{
    text-align: center;
    font-size: 40px;
}
.form{
    background-color: rgba(0,0,0,0.5);
   position: absolute;
    width: 88%;
    height: 210vh;
    font-size: 26px;
    
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0, 0.3);
    color: #fff;
    padding: 30px 40px 20px 20px;
    margin: 4% ;
   
    
  
  
}
.submit_button {
    position: absolute;
    left: 40%;
    top: 94%;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.1);

    border-radius: 30px;
    text-transform: uppercase;
    /* font-family: 'Alkatra', cursive; */

}
.background-image1{
    width: 100%;
    height: 240vh;
    /* background: url("https://images.unsplash.com/photo-1575379467364-3948cc047b78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdyZWVuJTIwYmx1cnJ5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"); */
    /* background: url("https://media.istockphoto.com/id/1317585024/photo/green-clover-leaves-st-patrick-s-day.jpg?s=612x612&w=0&k=20&c=wBr2Um6NWRs27y6LpjaxrcUPA01C_eOrca0-0gRjCHk="); */
    /* background: url("https://media.istockphoto.com/id/657837312/photo/beautiful-floral-summer-backgroung-beautiful-blurred-summer-night.jpg?s=612x612&w=0&k=20&c=49YoePik4zFKSF7S3VkUiC79Hyet-nWyOZRZvscRBy8="); */
    background-size: cover;
    background-position: center;
}
.submit_button:hover {
    color: #62CDFF;
}
/* form */
.form-ss{
 display: inline-block;
    width: 790px;
    margin: 20px;
    /* text-align: center; */
}

.form-s{
     /* width: 760px; */
    margin: 20px;
    display: inline-block;
    width: 700px;

}
.brain{
    width: 100px;
    position: absolute;
    margin: 80px 0 0 400px;
}
input{
    padding: 3px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.option-1{
    padding: 9px;

}