body{
    margin: 0;
}
.image{
    width: 100%;
    height:100vh;
    background: url("/static/images/middle-image.jfif");
    background-size: cover;
    background-position: center;
    

}
.message{
    height: 210px;
    background-color: rgba(3, 55, 33, 0.912);
    position: absolute;
    width: 750px;
    border-radius: 20px ;
    left: 270px;
    top: 280px;

    
}
h1{
    color: #fff;
    text-align: center;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:30px 10px 20px 10px ;
}
.button-home-page-middle {
    position: absolute;
    top: 90%;
    left: 45%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(30, 25, 105, 0.919);
    /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.button-home-page-middle:hover{
    background-color: rgba(65, 65, 179, 0.793);

}
