html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: arial;
    scroll-behavior: smooth;
    background-color:#C2F9F0;

}
header{
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 55px;
    /* padding: 0px 90px; */
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    z-index: 1111;
    /* border-radius: 0 0 20px 20px; */
  
}
.logo-home{
    position: absolute;
    font-size: 12px;
    width: 300%;
    height: 50%;
   color: #fff;
    margin: 0 0 10px 0;
}

.logo{
    /* padding: 22px 20px;
    height: 80px; */
    /* float: left; */
    font-size: 24px;
    font-weight: bold;
    /* font-family: 'Edu NSW ACT Foundation', cursive; */
    /* text-transform: uppercase; */
    position:absolute;
    left: 2%;
    top: 21%;
  
}
.logo-1{
    position: absolute;
    left: 60%;
    top: -21%;
    /* bottom: %; */
    float: right;
    

}
nav div a {
    text-decoration: none;
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

}
nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;

}
.home-image{
    width: 100%;
    height: 100vh;
    background: url("/static/images/home-image-1.jfif");
    background-size: cover;
    background-position: center;
}
.quotes1{
    position: absolute;
    width: 500px;
    height: 300px;
    margin: 150px 0 0 50px;
    color:#fff;
    text-align: center;
    font-size:40px;
    color: #41644A;
    font-family: 'Roboto Slab', serif;
   
    
}

/* login-botton */

.login-button{
    position: absolute;
    left: 29%;
    top: 83%;
    height: 50px;
    width: 500px;
    color: black;
    font-size: 25px;
    background: rgba(0,0,0,0.1);
    
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400px;
}
.login-button:hover{
    color: rgb(88, 88, 226);
}
/* login-botton */
.introduction{
    
  
    color:black;
    font-size: 23px;
    font-weight: 20px;
    text-align: center;
    font-family: 'Alkatra', cursive;
    margin: 5% 8% 5% 8%;
    position: absolute;
    
   
   
    

}
.introduction-1-background{
    background-color: #193467d1;
    height: 58%;
    width: 46%;
    left: 3%;
    top: 113%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(9, 24, 29, 0.762);
}
.introduction-1-background:hover{
    background-color: #193467e1;

}
.introduction-2-background{
    background-color: #297042cc;
    height: 58%;
    width: 46%;
    position: absolute;
    left: 51%;
    top: 113%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(9, 24, 29, 0.762);
}
.introduction-2-background:hover{
    background-color: #297042e7;

}
.introduction-3-background{
    background-color: #631b4be6;
    height: 58%;
    width: 46%;
    position: absolute;
    top: 175%;
    border-radius: 20px;
    left: 3%;
    box-shadow: 10px 10px 5px rgba(9, 24, 29, 0.762);
}
.introduction-3-background:hover{
    background-color: #631b4bfb;

}
.introduction-4-background{
    background-color: #3d601dda;
    height: 58%;
    width: 46%;
    position: absolute;
    top: 175%;
    left: 51%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(9, 24, 29, 0.762);

}
.introduction-4-background:hover{
    background-color: #3d601def;

}
.introduction-1{
    text-align: justify;
    color:#fff;
    font-size: 22px;
    margin: 20px 20px 20px 20px;
    width: 95%;
    height: 90%;
     font-family: 'Alkatra', cursive;
}
.introduction-2{
    text-align: center;
    text-align: justify;
    color:#fff;
    font-size: 22px;
    margin: 20px 20px 20px 20px;
    width: 95%;
    height: 90%;
     font-family: 'Alkatra', cursive;
}



.introduction-3{
    text-align: center;
    text-align: justify;
    color:#fff;
    font-size: 22px;
    margin: 20px 20px 20px 20px;
    width: 95%;
    height: 90%;
     font-family: 'Alkatra', cursive;
}


.introduction-4{
    text-align: center;
    text-align: justify;
    color:#fff;
    font-size: 22px;
    margin: 20px 20px 20px 20px;
    width: 95%;
    height: 90%;
     font-family: 'Alkatra', cursive;
}





.background-image-1{
   
    background: url("/static/images/intro-image.jfif"); /*//TODO: #9 @Dichang */
    margin: 3% 20px;
    width: 97%;
    height: 130vh;
    position: static;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    /* margin:3% 0 0 0; */
    /* box-shadow: black; */
    opacity: 1;
}


/* Abstract */

.slide-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #61764B;
    border-radius: 20px;
     margin: 0;
    

}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    padding: 8px 70px;
    font-size: 25px;
    font-weight: bold;
}

.next {
    right: 10px;

}

.prev {
    left: 10px;
}

.slide {
    display: none;
}

.slides-fonts{

    padding: 10%;
    text-align: center;
    font-family: 'Alkatra', cursive;
    color: #F6F1F1;
    font-size: 25px;
}
/* Abstract */

.doctor{
    background-color: #62CDFF;
    height: 800px;
}
.feedback{
    background-color: yellow;
    height: 800px;
}




/* footer */
.footer {
    height: 150px;
    font-family: 'Alkatra', cursive;
    
}

.copyright {
    padding: 1px 0 1px 0;
    text-align: center;
    background-color: #379237;
    /* border-radius: 20px 20px 0 0; */

}

.left_gmail {

    margin: 0 0 0 110px;
    position: absolute;
}
.left_gmail:hover {
    color: #19376D;
}

.middle_gmail {
    position: absolute;
    margin: 0 0 0 550px;
}
.middle_gmail:hover {
    color: #19376D;
}

.right_gmail {
    position: absolute;
    margin: 0 0 0 950px;

}
.right_gmail:hover {
    color: #19376D;
}

h4 {
    text-align: center;
    font-size: 25px;
}

.sms-logo1 {
    position: absolute;
    margin: 3px 0 0 88px;
}
.sms-logo2 {
    position: absolute;
    margin: 3px 0 0 528px;
}
.sms-logo3 {
    position: absolute;
    margin: 3px 0 0 929px;
}

/* footer */
